*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.carousel-arrow{
  position: absolute  ;
  height: 44px;
  width: 44px;
  cursor: pointer;
  color: black;
  background: white;
  border-radius: 100%;
  align-self: center;
}
.slide{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  text-shadow: black;
  box-shadow: 12px;
  /* h-full w-full rounded-md shadow-black shadow-md */
}
.slide-hidden{
  display: none;
}
.indicator{
  background-color: white;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  border: none;
  outline: none;
  box-shadow: black;
  box-shadow: 8px;
  margin: 2px;
}
.indicator-inactive{
  background: gray;
}